<!TEMPLATE /cardpage.html>
<head>
    <title>My Extensions</title>
    <style>
        #main {
            text-align: center;
        }
        .tiles {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 4px;
            padding: 2px;
            border-top: 1px solid grey;
            box-shadow: inset -1px 1px 2px black;
        }
        .ext-tile {
            text-align: center;
            font-size: 12px;
            color: black;
            text-decoration: none;
            border-radius: 4px;
            overflow: hidden;
            background-color: #ccc;
        }
        .icon {
            object-fit: cover;
            width: 100%;
            aspect-ratio: 16 / 9;
            background-color: #0FBD8C;
        }
    </style>
</head>
<body>
    Hey look! its all of the extensions i have ever made!!!!<br>
    Please remember that these extensions are intended to function with <a href="https://penguinmod.com">PenguinMod</a> only.
    <div class="tiles">
        <%
        let extensionsRes = '';
        const fs = require('fs/promises');
        const path = require('path');
        const extensionData = await fs.readFile(path.resolve(__dirname, './built-extensions/index.json'), 'utf8').catch(() => {});
        const extensions = JSON.parse(extensionData);
        for (const ext of extensions)
            extensionsRes += `
            <a class="ext-tile" id="${ext.id}" href="/built-extensions/${ext.id}.js" download="${ext.id}.js" title="${ext.description}">
                <img src="/built-extensions/icons/${ext.id}.svg" alt="" class="icon"></img>
                <span class="title">${ext.name}</span><br>
            </a>
            `;
        %>
        <%- extensionsRes %>
    </div>
</body>