<!TEMPLATE /cardpage.html>
<%
function relativeTime(date) {
    const now = new Date();
    const years = date.getYear() - now.getYear();
    const ys = years > 1 ? 's' : '';
    const months = date.getMonth() - now.getMonth();
    const ns = years > 1 ? 's' : '';
    const days = date.getDate() - now.getDate();
    const ds = years > 1 ? 's' : '';
    const hours = date.getHours() - now.getHours();
    const hs = years > 1 ? 's' : '';
    const minutes = date.getMinutes() - now.getMinutes();
    const ms = years > 1 ? 's' : '';
    const seconds = date.getSeconds() - now.getSeconds();
    const ss = years > 1 ? 's' : '';
    if (years !== 0)        return years >= 0   ? `in ${years} year${ys}`     :     `${Math.abs(years)} year${ys} ago`;
    else if (months !== 0)  return months >= 0  ? `in ${months} month${ns}`   :   `${Math.abs(months)} month${ns} ago`;
    else if (days !== 0)    return days >= 0    ? `in ${days} day${ds}`       :       `${Math.abs(days)} day${ds} ago`;
    else if (hours !== 0)   return hours >= 0   ? `in ${hours} hour${hs}`     :     `${Math.abs(hours)} hour${hs} ago`;
    else if (minutes !== 0) return minutes >= 0 ? `in ${minutes} minute${ms}` : `${Math.abs(minutes)} minute${ms} ago`;
    else if (seconds !== 0) return seconds >= 0 ? `in ${seconds} second${ss}` : `${Math.abs(seconds)} second${ss} ago`;
    return 'now';
}

function renderSlideDiv(slides) {
    let res = ''
    const slideLength = Math.max(slides.length, 5);
    res += `<div class="slider" style="grid-template-columns: repeat(${slideLength}, minmax(102px, 1fr));">`;
    for (const [title, redirect, image] of slides) {
        res += `
            <a class="slideContent" href="${redirect}">
                <img src="${new URL(image, redirect)}" class="slideImage"></img><br>
                <p class="slideTitle">${title}</p>
            </a>
        `;
    }
    res += '</div>';
    return res;
}

const { General } = once(() => {
    const VisitorCountLog = new mongoose.Schema({ isVisitors: Boolean, count: Number });
    const General = storage.model('general', VisitorCountLog);
    return { General };
}, 'general-database');
const visitors = General.findOne({ isVisitors: true }) ??
    new General({ isVisitors: true, count: 0 });
console.log(visitors);
visitors.count++;
// visitors.save();
const visitorCount = visitors.count.toString();

const numSuf = ['th', 'st', 'nd', 'rd', 'th', 'th', 'th', 'th', 'th', 'th'];
let sufix = numSuf[visitorCount.slice(-1)];
if (visitorCount > 9 && visitorCount < 20) sufix = 'th';
%>
<head>
    <title>godslayerakp</title>
    <meta name="description" content="the main page to my website!">
    <meta name="keywords" content="portfolio">

    <style>
        .slideImage {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 6px;
            width: 90px;
            height: 90px;
            object-fit: fill;
        }
        .slideTitle {
            margin-top: 0px;
        }
        .slideContent {
            width: 102px;
            height: auto;
            text-align: center;
            border-width: 1px;
            border-color: darkgrey;
            box-shadow: 0px 0px 4px black;
            margin-top: 8px;
            margin-left: 6px;
            margin-right: 6px;
            margin-bottom: 8px;
        }
        .slideContent:hover {
            box-shadow: 0px 0px 8px black;
            cursor: pointer;
        }
        .slider {
            margin-top: 12px;
            overflow-x: scroll;
            display: grid;
            grid-gap: 12px;
            box-shadow: inset 0px 0px 4px black;
        }
        .footer-grid {
            display: grid; 
            grid-template-columns: repeat(2, 1fr); 
            grid-template-rows: 174px 174px;
        }
        .footer-grid-item {
            padding: 4px;
        }
        .commits-box {
            box-shadow: inset 0px 0px 4px black;
            padding: 8px;
        }
        .commit-user {
            border-radius: 50%;
            width: 1.50lh;
            margin: .125lh;
            margin-top: .25lh;
            grid-row: 1 / 3;
        }
        .commit-time {
            font-size: small;
            color: #999;
        }
        .commit-message {
            font-size: small;
            grid-column: 2 / 4;
            overflow: clip;
        }
        .commit {
            display: grid;
            grid-template-columns: calc(1.75lh + 2px) 1fr max-content;
            grid-template-rows: 1lh .75lh;
        }
        .gnome {
            position: absolute;
            height: 365px;
            top: calc(calc(50vh - 182.5px) - 1px);
            cursor: pointer;
            transition: all 200ms ease-out;
            z-index: 0;
        }
        .gnome:hover {
            top: calc(calc(50vh - 182.5px) - 40px);
        }
        @keyframes reveal {
            0% {
                top: calc(calc(50vh - 182.5px) - 40px);
                z-index: 0;
            }
            50% {
                top: calc(75px - 365px);
                z-index: 2;
            }
            100% {
                top: calc(calc(50vh - 182.5px) - 1px);
                z-index: 2;
            }
        }
        .gnome.show {
            animation: reveal 700ms;
            z-index: 2;
        }
    </style>
</head>
<body><br>
    <div
        id="orbital"  
        style="
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
            margin-bottom: 40px;
            height: 50px;
        "
    >
        <img style="position: absolute; z-index: 0;" src="/my-pfp.png" height="50" onclick="pushAchievement('Boop', 'You did a heckin boopin!!')">
    </div>
    <!-- profile link orbit controller -->
    <script>
        const links = [
            ['The Powder Toy', new URL('https://powdertoy.co.uk/User.html?Name=thepowderkeg')],
            ['GitHub', new URL('https://github.com/RedMan13'), './github.png'],
            ['Scratch', new URL('https://scratch.mit.edu/RedMan13')],
            ['PenguinMod', new URL('https://penguinmod.com/profile?user=redman13')],
            ['Roblox', new URL('https://www.roblox.com/users/749363285/profile')],
            ['Replit', new URL('https://replit.com/@RedMan13')],
            ['YouTube', new URL('https://www.youtube.com/channel/UC0NsyMcDBHFWXro1sRHRqMw')]
        ];
        const prevIdx = Math.floor(links.length / 2);
        links.splice(prevIdx, 0, ['Previous Person', new URL('https://steve0greatness.github.io/webring/sites/godslayerakp/prev.xhtml')]);
        const nextIdx = 0;
        links.splice(nextIdx, 0, ['Next Person', new URL('https://steve0greatness.github.io/webring/sites/godslayerakp/next.xhtml')]);

        const orbital = document.getElementById('orbital');
        let mouseHovering = null;
        for (const [idx, [name, link, icon]] of Object.entries(links)) {
            // use googles favicon service for it is much more convinient then trying to extract it ourselves
            // only exception is the first and last element, as these are part of the webrings
            let favicon = icon;
            if (!favicon) {
                favicon = new URL('https://www.google.com/s2/favicons');
                favicon.searchParams.set('sz', 64);
                favicon.searchParams.set('domain', link.hostname);
            }

            const img = new Image();
            img.width = 20;
            img.src = favicon;
            if (idx == (prevIdx +1)) img.src = '/webring-prev.png';
            if (idx == nextIdx) img.src = '/webring-next.png';
            img.title = name;

            const hyperlink = document.createElement('a');
            hyperlink.href = link;
            hyperlink.appendChild(img);
            hyperlink.idx = idx;
            hyperlink.scale = 1;
            hyperlink.biasedX = 0;
            hyperlink.biasedY = 0;
            hyperlink.style.position = 'absolute';
            hyperlink.onmouseover = () => mouseHovering = idx;
            links[idx] = hyperlink;

            orbital.appendChild(hyperlink);
        }

        // the time (in ms) a full revolution of the orbit should take
        const speed = 300;
        const width = 60;
        const height = 50;
        const dist = 360 / links.length;
        const deg180 = 180 * Math.PI / 180;
        let mouseX = 0;
        let mouseY = 0;
        document.onmousemove = e => {
            const width = window.innerWidth / 2;
            const height = window.innerHeight / 2;
            const bodyWidth = 240 * scale;
            const bodyHeight = 180 * scale;
            const centerX = (width - bodyWidth) + ((orbital.clientWidth / 2) * scale);
            const centerY = (height - bodyHeight) + ((orbital.offsetTop + 30) * scale);
            
            mouseX = ((e.x - centerX) / scale);
            mouseY = ((e.y - centerY) / scale) + 8;
        }
        const step = t => {
            for (const hyperlink of links) {
                const { idx, scale } = hyperlink
                const isHovered = mouseHovering === idx;
                const noneHovered = mouseHovering === null;
                const target = !isHovered && !noneHovered
                    ? 0.68
                    : 1;
                hyperlink.scale = interpol(scale, target, 0.1);
                hyperlink.style.filter = `brightness(${scale})`;
                hyperlink.biasedX ||= 0;
                hyperlink.biasedY ||= 0;
                
                const dir = ((t / speed) + (dist * idx)) * Math.PI / 180;
                hyperlink.biasedX = interpol(hyperlink.biasedX, Math.cos(dir) * width, 0.2);
                hyperlink.biasedY = interpol(hyperlink.biasedY, (Math.sin(dir) * height) + 5, 0.2);
                if (isHovered) {
                    hyperlink.biasedX = interpol(hyperlink.biasedX, mouseX, 0.3);
                    hyperlink.biasedY = interpol(hyperlink.biasedY, mouseY, 0.3);
                }
                const mouseXDist = (hyperlink.biasedX - mouseX);
                const mouseYDist = (hyperlink.biasedY - mouseY);
                const mouseDist = Math.sqrt(Math.abs((mouseXDist * mouseXDist) - (mouseYDist * mouseYDist)));
                if (mouseDist > 10 && isHovered) mouseHovering = null;

                hyperlink.style.transform = `
                translateX(${hyperlink.biasedX}px)
                translateY(${hyperlink.biasedY}px)
                scale(${hyperlink.scale})`;
            }
            requestAnimationFrame(step);
        }
        requestAnimationFrame(step);
        document.addEventListener('DOMContentLoaded', () => {
            const body = document.getElementsByClassName('card')[0];
            const image = new Image();
            image.classList.add('gnome');
            document.body.insertBefore(image, body);
            image.src = '/home-gnome.webp';
            image.onclick = () => {
                image.classList.add('show');
                pushAchievement('Gnome', 'Wait, when did that get here?');
            }
            image.style.transform = `scale(${window.scale})`;
            window.oncardrescale = () => {
                image.style.transform = `scale(${window.scale})`;
            }
        })
    </script>

    Welcome! I hope you find this website informative and entertaining! <span title="Since the latest commit to the site">
    you are the <span id="visitors"><%= visitorCount %></span><%= sufix %> visitor!
    <script>
        const visitorsDiv = document.getElementById('visitors');
        if (visitorsDiv.innerText === '100')
            pushAchievement('Centennial', 'Wonder how long thats going to last...');
    </script>
    </span><br>
    <h3 class="horizontalCenter">Portfolio</h3>
    I am <% Math.floor((Date.now() - new Date('08/17/2008').getTime()) / 1000 / 60 / 60 /24 / 365) %> years old with four years total experience in Website Development. I know HTML, React, Svelte, CSS, JS, NodeJS, and PHP. I am also highly adaptable, being able to work with languages outside my expertise, such as C#, C, C++, MongoDB, SQLite, and Java.<br>
    This website is also participant of the <a href="https://steve0greatness.github.io/webring">0greatness webring!</a><br>
    <h3 class="horizontalCenter">All the projects i have worked on as of now.</h3>
    <%- renderSlideDiv([
        ["PenguinMod", "https://penguinmod.com", "/favicon.ico"],
        ["Scratch For Discord", "https://s4d.discodes.xyz", "/scratch.png"],
        ["CC:T Discord", "https://github.com/RedMan13/cc-discord", "https://godslayerakp.serv00.net/github.png"],
        ["Clamp Coding", "https://clamp-coding.vercel.app", "/favicon.png"],
        ["DiscordNT", "https://godslayerakp.serv00.net/discordnt.html", "/favicon.ico"],
        ["Builder", "https://github.com/RedMan13/builder", "https://godslayerakp.serv00.net/github.png"]
    ]) %>
    <h3 class="horizontalCenter">Here are some other cool sites you should check out!</h3>
    <ul>
        <li><a href="https://gen1x.is-a.dev/">Gen1x's Website (works in XP-era Internet Explorer!)</a></li>
        <li><a href="https://theshovel.rocks/">JodieTheShovel's website! dont forget to check out cofunk (previously penguinfunk) if you like fnf multiplayer!</a></li>
        <li><a href="https://jeremygamer13.vercel.app/">JeremyGamer13's site! try to get every atchievment <em>without cheating</em></a></li>
        <li><a href="https://ddededodediamante.vercel.app">ddededodediamantes website! (guys cool trust 🙏)</a></li>
    </ul><br>
    
    <div class="footer-grid">
        <iframe class="footer-grid-item" src="https://discord.com/widget?id=1248818317364301967&theme=dark" width="234" height="343.75" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
        <div class="commits-box">
            <h4 class="horizontalCenter" style="margin: 0">Commits</h4>
            <div id="commits">
                <%
                const fs = require('fs/promises');
                const path = require('path');
                let commitsRes = '';
                const commitsData = await fs.readFile(path.resolve(__dirname, './commits.json'), 'urf8').catch(() => {}); 
                if (commitsData) {
                    const commits = JSON.parse(commitsData);
                    for (const commit of commits)
                        commitsRes += `
                        <div class="commit">
                            <img class="commit-user" src="https://github.com/${commit.author.name}.png"/>
                            <strong>${commit.author.username ?? $commit.author.name}</strong>
                            <span class="commit-time">${new Date(commit.timestamp).toTimeString()}</span>
                            <a href="${commit.url}" class="commit-message">${commit.message}</a>
                        </div>
                        `;
                }
                %>
                <%- commitsRes %>
            </div>
        </div>
        <div class="footer-grid-item"></div>
        <p class="footer-grid-item">btw check out my discord! its where updates for all of my various projects live.</p>
    </div>
</body>
