<!TEMPLATE /cardpage.html>
<head>
    <title>Sign Up</title>
    <%
        const meta = new URLSearchParams(req.body?.toString?.());
        const hasSubmitted = !!req.body?.length;
        console.log(hasSubmitted);
        const loggedIn = hasSubmitted && await users.register(meta.get('username'), meta.get('password'), meta.get('email'));
        if (loggedIn) res.header('Set-Cookie', `username=${escape(meta.get('username'))}; password=${escape(meta.get('password'))}`);
    %>
    <style>
        p {
            margin: 0px;
            margin-top: 6px;
        }
        form { padding: 6px; }
    </style>
</head>
<body>
    <% if (!hasSubmitted) { %>
        <form method="post">
            <p>Username:</p>
            <input type="text" name="username" placeholder="John Sigma">
            <p>Password:</p>
            <input type="password" name="password"><br><br>
            <p>Email:</p>
            <input type="email" name="email"><br><br>
            <input type="submit">
        </form>
    <% } else if (!loggedIn) { %>
        <p>Oops! Looks like something wasnt right. Maybe the username is already taken?</p>
    <% } else {
        res.redirect('/settings');
    } %>
</body>