<!TEMPLATE /cardpage.html>
<head>
    <title>Sign In</title>
    <%
        const meta = new URLSearchParams(req.body?.toString?.());
        const hasSubmitted = !!req.body?.length;
        const loggedIn = hasSubmitted && await users.authorize(meta.get('username'), meta.get('password'));
        if (loggedIn) {
            res.header('Set-Cookie', `username=${escape(meta.get('username'))}; Max-Age=${400 * 24 * 60 * 60}`);
            res.header('Set-Cookie', `password=${escape(meta.get('password'))}; Secure; HttpOnly; Max-Age=${400 * 24 * 60 * 60}`);
        } 
    %>
    <style>
        p {
            margin: 0px;
            margin-top: 6px;
        }
        form { padding: 6px; }
    </style>
</head>
<body>
    <% if (!hasSubmitted) { %>
        <form method="post">
            <p>Username:</p>
            <input type="text" name="username" required placeholder="John Sigma">
            <p>Password:</p>
            <input type="password" name="password" required><br><br>
            <input type="submit" name="login">
        </form>
    <% } else if (!loggedIn) { %>
        <p>Oops! looks like that account info wasnt correct. Maybe you spelled something wrong? Make sure you already have an account before you try signing into it.</p>
    <% } else { %>
        <p>Logged in!</p>
    <% } %>
</body>