body {
    background: linear-gradient(to bottom, rgb(48, 127, 201) 0px, #0195FA 100vh);
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.card {
    background-color: white;
    border-color: darkgrey;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    box-shadow: 0px 0px 20px black;
    overflow-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    width: 480px;
    height: 360px;
    z-index: 1;
}
@keyframes popupAlarm {
    from {
        top: -752px
    }
    to {
        top: -330px
    }
}
.animateAlarm {
    animation-duration: 1s;
    animation-name: popupAlarm;
    top: -330px;
    position: absolute;
}
@keyframes popupTimer {
    from {
        top: -752px
    }
    to {
        top: -7px
    }
}
.animateTimer {
    animation-duration: 1s;
    animation-name: popupTimer;
    top: -7px;
    position: absolute;
}
.horizontalCenter {
    text-align: center;
}